<div *ngIf=!loading>
    <div>
        <span class="app-title">Apartment details</span>
    </div>
    <div class="container data-card-container">
        <div class="card-content">
          <div *ngIf="!ownApartment" class="owner-box">
              <span class="card-title font-bold">Owner: {{apartment?.OwnerName}}</span>
          </div>
          <div *ngIf="apartment?.IsRented && !rentedByCurrentUser" class="margin-bottom-20">
            <span class="card-title font-bold">Rented by {{apartment?.TenantName}}</span>
            </div>
          <div *ngIf="apartment?.IsRented && rentedByCurrentUser" class="margin-bottom-20">
            <span class="card-title font-bold">Rented by you</span>
          </div>
          <div>
            <span class="card-title">{{apartment?.PostCode + ' ' + apartment?.City + ' ' + apartment?.Street + ' ' + apartment?.HouseNumber}}</span>
          </div>
          <div>
              <span class="card-data">Rent: {{apartment?.Rent}} EUR</span>
          </div>
          <div>
              <span class="card-data">Deposit: {{apartment?.Deposit}} EUR</span>
          </div>
          <div *ngIf="!apartment?.IsRented">
              <span class="card-data">Not rented yet</span>
          </div>
          <div *ngIf="ownApartment" class="owner-box">
              <span class="card-data font-bold">This is your own apartment!</span>
          </div>
      </div>
      <button *ngIf="!ownApartment && !apartment?.IsRented" mat-button class="app-button" (click)="rentApartment()">
          Rent apartment
      </button>
      <button *ngIf="rentedByCurrentUser" mat-button class="app-button" (click)="payRent()">
            Pay Rent
      </button>
      <button *ngIf="rentedByCurrentUser" mat-button class="app-button app-button-danger" (click)="terminateContract()">
        Terminate Contract
        </button>
    </div>
    <div class="margin-top-50">
        <span class="app-title">Transaction history</span>
    </div>
    <div *ngIf="transactions.length === 0">
        <span class="margin-top-50 app-title">There are no transactions for this apartment.</span>
    </div>
    <div *ngIf="transactions.length > 0">
        <mat-list class="data-card-container container">
            <mat-list-item *ngFor="let transaction of transactions">
                <div>
                    <span>{{transaction.Timestamp}} - {{transaction.Message}}</span>
                </div>
            </mat-list-item>
        </mat-list>
    </div>

</div>
<mat-spinner *ngIf=loading class="loading-spinner"></mat-spinner>
