<div>
    <span class="app-title">My Apartments</span>
</div>
<div *ngIf="apartments.length === 0">
    <span class="margin-top-50 app-title">You don't have any apartments.</span>
</div>
<div class="container row">
    <div *ngFor="let apartment of apartments" class="col-md-6">
        <app-data-card
            [browsing]=false
            [address]="apartment.PostCode + ' ' + apartment.City + ' ' + apartment.Street + ' ' + apartment.HouseNumber"
            [isRented]="apartment.IsRented"
            [rent]="apartment.Rent"
            [deposit]="apartment.Deposit"
            [apartmentId]="apartment.Id">
        </app-data-card>
    </div>
</div>