<div *ngIf=authenticationService.isAuthenticated()>
    <div class="header-container">
        <div class="logo-column">
            <div class="image-row">
                <div class="logo-container">
                    <img class="ethereum-logo img-fluid" src="../../../assets/images/ethereum-icon.png" />
                </div>
            </div>
        </div>
        <div class="header-column">
            <div class="current-user-row">
                <span class="current-user">Hello {{username}}! Current balance: {{balanceInEur}} EUR ({{balanceInEth}} ETH)</span>
            </div>
            <div class="header-row">
                <div class="menu-container">
                    <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menu-button float-right">
                        <img class="menu-button-icon" src="../../../assets/images/ic_menu.png"/>
                    </button>
                    <mat-menu class="app-menu" #appMenu="matMenu" [overlapTrigger]="false">
                        
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>
