<div *ngIf=authenticationService.isAuthenticated()>
    <div class="header-container">
        <div class="logo-column">
            <div class="image-row">
                <div class="logo-container">
                    <img class="ethereum-logo img-fluid" src="../../../assets/images/ethereum-icon.png" />
                </div>
            </div>
        </div>
        <div class="header-column">
            <div class="current-user-row">
                <span class="current-user">Hello {{username}}! Current balance: {{balanceInEur}} EUR ({{balanceInEth}} ETH)</span>
            </div>
            <div class="header-row">
                <!--Here comes the menu part.-->
            </div>
        </div>
    </div>
</div>
