<div class="container">
    <form name="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <div class="login-container">
            <div class="login-header-row row">
                <div class="col-sm-auto">
                    <img class="ethereum-logo img-fluid" src="../../../assets/images/ethereum-icon.png" />
                </div>
                <span class="login-title col-sm-12">Smart Renting</span>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" type="text" class="form-control" formControlName="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="text" class="form-control" formControlName="password">
            </div>
            <button mat-button class="app-button" type="submit">
                Login
            </button>
            <button mat-button class="app-button">
                Register
            </button>
        </div>
    </form>
</div>