.container {
    background-color: #2e4a62;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.login-container {
    margin-top: 20px;
    padding: 16px 0 0 0;
    position: relative;
    z-index: 1;
}

.form-group {
    padding-right: 16px;
}

span.login-title {
    color: white;
    font-family: 'Roboto-Light';
    font-size: 36px;
    align-self: flex-end;
    text-align: center;
}

.background-logo {
    position: fixed;
    right: -35px;
    bottom: -60px;
    width: 500px;
}

.form-control {
    width: 300px;
}