<div class="container">
    <form name="apartment-form" [formGroup]="apartmentForm" (ngSubmit)="onSubmitForm()">
        <div *ngIf=!loading class="apartment-form-container">
            <div class="create-apartment-header-row row">
                <span class="create-apartment-title col-sm-12">Create apartment</span>
            </div>
            <div class="margin-top-50">
                <div class="form-group">
                    <label for="postCode" class="app-input-label">Post code</label>
                    <input id="postCode" type="number" class="form-control" formControlName="postCode">
                    <div *ngIf="form.postCode.errors && submitted" class="validation-message">
                        <div *ngIf="form.postCode.errors.required">Post code is required.</div>
                        <div *ngIf="form.postCode.errors.minlength">Post code must be 5 digits.</div>
                        <div *ngIf="form.postCode.errors.maxlength">Post code must be 5 digits.</div>
                    </div>
                    <label for="city" class="app-input-label">City</label>
                    <input id="city" type="text" class="form-control" formControlName="city">
                    <div *ngIf="form.city.errors && submitted" class="validation-message">
                        <div *ngIf="form.city.errors.required">City is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="postCode" class="app-input-label">Post code</label>
                    <input id="postCode" type="number" class="form-control" formControlName="postCode">
                    <div *ngIf="form.postCode.errors && submitted" class="validation-message">
                        <div *ngIf="form.postCode.errors.required">Post code is required.</div>
                        <div *ngIf="form.postCode.errors.minlength">Post code must be 5 digits.</div>
                        <div *ngIf="form.postCode.errors.maxlength">Post code must be 5 digits.</div>
                    </div>
                </div>
                <button mat-button class="app-button create-apartment-button" type="submit">
                    Create apartment
                </button>
            </div>
        </div>
        <mat-spinner *ngIf=loading class="loading-spinner"></mat-spinner>
    </form>
</div>